.values-heading {
  margin: 2rem 0 1rem 0;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.values-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-family: 'Golos Text', sans-serif;
}
.values-box-1 {
  display: flex;
  flex-direction: row;
  margin: 3rem 7rem;
}
.values-box-2 {
  display: flex;
  flex-direction: row;
  margin: 0 20rem 0 20rem;
}
.values-content p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 450;
}
.values-content {
  padding: 1rem 2rem 1.5rem 2rem;
  margin: 0 1.5rem;
  /* background-color: rgb(64 70 76); */
  border-radius: 1rem;
  color: white;
}

.empowerment-section{
  background: #FF69B4;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  margin-right: 25px;
}
.empowerment-section:hover{
  animation:  scaleAnimation 2s ease-in-out forwards;
}

.collab-section{
  background: #FFB52E;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}
.collab-section:hover{
  animation:  scaleAnimation 2s ease-in-out forwards;
}
.growth-section{
  background: #6ECB5A;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.growth-section:hover{
  animation:  scaleAnimation 2s ease-in-out forwards;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.05); 
  }
  100% {
    transform: scale(1); 
  }
}

@media only screen and (max-width: 1350px) {
  .values-box-2 {
    margin: 0 12rem 0 12rem;
  }
}
@media only screen and (max-width: 1100px) {
  .values-box-2 {
    margin: 0 7rem 0 7rem;
  }
  .values-box-1 {
    margin: 3rem 5rem 3rem 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .values-box-1 {
    margin: 3rem 1rem 3rem 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .values-box-1 {
    flex-direction: column;
    margin: 3rem 0 0 0;
  }
  .values-container {
    margin: 2rem;
  }
  .values-content {
    margin: 0 0 2rem 0;
  }
  .values-content-2 {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 800px) {
  .values-box-2 {
    flex-direction: column;
    margin: 0;
  }
  .values-content-2 {
    margin-left: 0rem;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.fade-in-image{
  animation: fadeIn 2s;
}
