.values-heading {
  margin: 2rem 0 1rem 0;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.values-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-family: 'Golos Text', sans-serif;
}
.values-box-1 {
  display: flex;
  flex-direction: row;
  margin: 3rem 7rem;
}
.values-box-2 {
  display: flex;
  flex-direction: row;
  margin: 0 20rem 0 20rem;
}
.values-content p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 450;
}
.values-content {
  padding: 1rem 2rem 1.5rem 2rem;
  margin: 0 1.5rem;
  width: 350px;
  height: 180px;
  border-radius: 1rem;
  color: white;
}

.empowerment-section{
  background: #FF69B4;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  margin-right: 25px;
}
.empowerment-section:hover{
  animation:  scaleAnimation 2s ease-in-out forwards;
}

.collab-section{
  background: #FFB52E;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  margin: 0 10px;
}
.collab-section:hover{
  animation:  scaleAnimation 2s ease-in-out forwards;
}
.growth-section{
  background: #6ECB5A;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.growth-section:hover{
  animation:  scaleAnimation 2s ease-in-out forwards;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1); 
  }
  50% {
    transform: scale(1.05); 
  }
  100% {
    transform: scale(1); 
  }
}

@media only screen and (max-width: 1350px) {
  .values-box-2 {
    margin: 0 12rem 0 12rem;
  }
  .values-content {
    min-width: 240px;
    height: 200px;
  }
  .values-box-1 {
    margin: 3rem 3rem;
  }
}
@media only screen and (max-width: 1181px) {
  .values-box-2 {
    margin: 0 5rem 0 5rem;
  }
  .values-box-1 {
    margin: 3rem 0rem 3rem 0rem;
  }
}

@media only screen and (max-width: 1040px) {
  .values-box-1 {
    margin: 3rem 0rem 3rem 0rem;
  }
  .values-box-2 {
    margin: 0 2rem 0 2rem;
  }
  .values-content {
    min-width: 220px;
    height: 220px;
  }
}
@media only screen and (max-width: 920px) {
  .values-box-1 {
    flex-direction: column;
    margin: 3rem 0 0 0;
  }
  .values-container {
    margin: 2rem;
  }
  .values-content {
    margin: 0 3rem 2rem 2rem;
    width: auto;
    height: 100px;
  }
  .values-content-2 {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .values-box-2 {
    flex-direction: column;
    margin: 0;
  }
  .values-content-2 {
    margin-left: 0rem;
  }
  .values-content {
    width: auto;
    height: auto;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

.fade-in-image{
  animation: fadeIn 2s;
}
