.gPadding {
  margin-bottom: 10rem;
}

.grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 50px;
  grid-template-columns: auto auto auto;
  padding: 10px;
  margin-top: 4rem;
}

.grid-item {
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
}

.grid-item img {
  border-radius: 10px;
}

@media only screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-item img {
    width: 100%;
  }
}
