/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/HeroSection/styles.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.navbar {
  margin-bottom: 5rem;
}

.hero-section {
  width: 99vw;
  height: 100vh;
  background-image: url(/_next/static/media/homeImg.ce8e4c6b.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  color: white;
}

.hero-section h1 {
  font-size: 4rem;
  font-family: 'Tilt Neon', cursive;
}
.hero-section p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.hero-section button {
  margin: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
  transition: all 0.5s;
  border: none;
}
.hero-section button:hover {
  transform: scale(1.1);
  background-color: aquamarine;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 1000px;
  width: 80%;
  text-align: center;
}

.value-section h1 {
  margin: 2rem;
  font-size: 3rem;
  text-align: center;
  font-family: 'futura-pt', sans-serif;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/ContactUs/ContactUs.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.email_contactUS{
    display: flex;
}
.phone_contactUs{
    display: flex;
}
.map_contactUs{
    display: flex;
}
.icons{
    margin-right: 7px;
    transition: transform 0.3s ease-in-out;
}
.icons:hover{
    transform: scale(1.2); 
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/HomeOurValues/Values.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.values-heading {
  margin: 2rem 0 1rem 0;
  font-size: 3.2rem;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

.values-container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  font-family: 'Golos Text', sans-serif;
}
.values-box-1 {
  display: flex;
  flex-direction: row;
  margin: 3rem 7rem;
}
.values-box-2 {
  display: flex;
  flex-direction: row;
  margin: 0 20rem 0 20rem;
}
.values-content p {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  font-weight: 450;
}
.values-content {
  padding: 1rem 2rem 1.5rem 2rem;
  margin: 0 1.5rem;
  width: 350px;
  height: 240px;
  border-radius: 20px;
  color: white;
}

.empowerment-section {
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(197, 136, 31, 0.2);
  margin-right: 10px;
  transition-property: width;
}
.empowerment-section:hover {
  animation: scaleAnimation 1s ease-in;
}

.empowerment-section {
  align-content: space-between;
  color: rgb(0, 14, 0);
  left: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  transition: box-shadow 0.3s ease;
}

.collab-section {
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(39, 230, 61, 0.2);
  margin: 0 10px;
}
.collab-section:hover {
  animation: scaleAnimation 1s ease-in;
}

.collab-section {
  align-content: space-between;
  color: rgb(0, 14, 0);
  left: 0%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.growth-section {
  background: #fff;
  box-shadow: 0 0.5rem 1.5rem rgba(132, 97, 235, 0.2);
  border-radius: 20px;
  transition-property: width;
  margin: 0 10px;
}
.growth-section:hover {
  animation: scaleAnimation 1s ease-in;
}

.growth-section {
  align-content: space-between;
  left: 0%;
  color: rgb(0, 14, 0);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1350px) {
  .values-box-2 {
    margin: 0 12rem 0 12rem;
  }
  .values-content {
    min-width: 240px;
    height: 200px;
  }
  .values-box-1 {
    margin: 3rem 3rem;
  }
}
@media only screen and (max-width: 1181px) {
  .values-box-2 {
    margin: 0 5rem 0 5rem;
  }
  .values-box-1 {
    margin: 3rem 0rem 3rem 0rem;
  }
}

@media only screen and (max-width: 1040px) {
  .values-box-1 {
    margin: 3rem 0rem 3rem 0rem;
  }
  .values-box-2 {
    margin: 0 2rem 0 2rem;
  }
  .values-content {
    min-width: 220px;
    height: 220px;
  }
}
@media only screen and (max-width: 920px) {
  .values-box-1 {
    flex-direction: column;
    margin: 3rem 0 0 0;
  }
  .values-container {
    margin: 2rem;
  }
  .values-content {
    margin: 0 3rem 2rem 2rem;
    width: auto;
    height: 100px;
  }
  .values-content-2 {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 700px) {
  .values-box-2 {
    flex-direction: column;
    margin: 0;
  }
  .values-content-2 {
    margin-left: 0rem;
  }
  .values-content {
    width: auto;
    height: auto;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-image {
  animation: fadeIn 2s;
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/MainBlogs/blog.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.blogtitle{
    margin-top: 50px;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/MapBox/map.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/

@media only screen and (max-width: 1537px) {
    .cardss{
        margin-top: -200px;
    }
  }
  @media only screen and (max-width: 1062px) {
    .cardss{
        margin-top: 0px;
    }
  }
  
/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/ImageGallery/imagegallery.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.title{
    margin-bottom: 40px;
    font-size: 50px;
    margin-left: 30px;
}
.carousell{
    margin-left: 30px;
}

@media only screen and (max-width: 920px) {
    .carousell{
        margin-left: 0px;
    }
    .imgc{
        width: 200px;
    }
  }
  
@media only screen and (max-width: 540px) {
    .carousell{
        margin-left: 0px;
    }
    .imgc{
        width: 350px;
    }
    .title{
        margin-bottom: 40px;
        font-size: 30px;
        margin-left: 0px;
        size: 80px;
    }
  }
  
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./src/components/Faq/Faqstyles.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/* @import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
.title {
  margin-bottom: 70px;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji; */
    font-family: 'Rubik', sans-serif;
    letter-spacing: 1px;
}
.wrapper {
  min-height: 700px;
  padding-bottom: 0px;
  font-family: 'Rubik', sans-serif;
  padding-top: 50px;
  border: none;
  background: none; 
}
.item {
  border: none;
  background: none; 
  margin-bottom: 0.5rem;
  font-family: 'Rubik', sans-serif;
}

.item_question{
  font-size: 20spx;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}
.item_question:hover{
  color:rgb(22, 218, 22);
  font-family: 'Rubik', sans-serif;
}
.faq_content {
  color: #777777;
  text-align: left;
  border: none;
  background: none; 
  font-family: 'Rubik', sans-serif;
}

