@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fuzzy+Bubbles:wght@700&family=Klee+One:wght@600&family=Open+Sans&family=Poppins&family=Roboto:ital@1&family=Tilt+Neon&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 97vw;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

/* .grid-col{
  
 } */
