/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./app/impact/impact.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.blog__main {
    font-family: 'Lato', sans-serif;
  }
  
  .blog__subHead {
    font-size: 22px;
  }
  
  .list {
    margin-left: 30px;
  }
  
  .blog__text {
    color: #40403f;
    font-size: 20px;
    padding: 10px 0;
  }
  .underline {
    margin: 10px 0;
  }

  
