body {
    background: #141829;
    font-family: 'Nova Square', cursive;
}

.text-404 {
    position: fixed;
    font-size: 200px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(#8eeb48, #049965);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    color: #f6f6e3;
    letter-spacing: 5px;
    margin-top: 0px;
}

.description {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 15px;
    color: #f6f6e3;
    letter-spacing: 5px;
    margin-top: 0px;
}

.text-btn {
    text-align: center;
    margin-top: 75px;
}

.btn-outline-primary {
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    border-color: #089665;
    color: #1ead14;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.btn-outline-primary:hover {
    background-color: #089665;
    border-color: #089665;
    color: #141829;
}

@media screen and (max-width:500px) {
    .text-404 {
        font-size: 150px;
    }
}

@media screen and (max-width:345px) {
    .text-404 {
        font-size: 120px;
    }
}